<div class="media embed-responsive-16by9">
  <a class="pull-left" href="#">
    <img class="media-object" src="http://placehold.it/64x64" alt="">
  </a>
  <div class="media-body">
    <h4 class="media-heading"><%= comment.user.get_name %>
      <small><%= comment.created_at %></small>
    </h4>
    <%= comment.content %>
  </div>
</div>
