<div class="row" ng-controller="UserEditCtrl">
  <div class="col-md-6 col-md-offset-3 col-sm-12">
    <h2 align="center">Updating id:<%= @user.id %></h2>
    <form>
      <input type="hidden" ng-init="getUser(<%= @user.id %>)">
      <div class="form-group">
        <div class="form-group">
          <label>Name</label>
          <input name="text" ng-change="updateUser()" ng-model="user.name"/>
        </div>
        <hr>
        <div class="form-group">
          <label>About</label>
          <textarea msd-elastic style="border: none" cols="78" rows="1" ng-change="updateUser()" ng-model="user.about" placeholder="Write some text about yourself here"></textarea>
        </div>
        <hr>
        <div class="form-group">
          <label>Interests</label>
          <textarea msd-elastic style="border: none" cols="78" rows="1" ng-change="updateUser()" ng-model="user.interests" placeholder="Write some text about yourself here"></textarea>
        </div>
      </div>
    </form>
  </div>
</div>
