<% if can? :edit, manual %>
  <%= link_to edit_manual_path(manual), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
  <% end %>
<% end %>

<% if can? :destroy, manual %>
  <%= link_to manual_path(manual),
            :method => :delete,
            :data => { :confirm => t("helpers.links.confirm") },
            :class => 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-trash"></span>
  <% end %>
<% end %>
