<div class="error-template">
  <h1>Oops!</h1>
  <h2>Nothing found</h2>
  <div class="error-details">
    Nothing found for your request.
  </div>
  <div class="error-actions">
    <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span></a></div>
</div>