<%- model_class = Manual -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= render :partial => 'form' %>

<script>
    var app = angular.module('app', ['ui.sortable']);

    app.controller('ManualEditCtrl', ['$scope',  function ($scope)
    {
        $scope.list = [
            { "id":10, "priority":1, "manual_id":1, "name": "Prepare" },
            { "id":11, "priority":2, "manual_id":1, "name": "Cook" },
            { "id":12, "priority":3, "manual_id":1, "name": "Finish" }
        ];

        $scope.sortableOptions = {
            cursor: "move",
            update: function (e, ui) {
                var $list = ui.item.parent();
                $scope.$apply(function () {
                    $scope.currSort = $list.sortable("toArray")

                })
            }
        };

        $scope.syncOrder = function (elemPositions) {
            $scope.list.forEach(function (obj) {
                elemPositions.forEach(function (elemId, index) {
                    var id = parseInt(elemId.replace(/object-/, ''));
                    if (id === obj.id) {
                        obj.priority = index + 1;
                    }
                });
            });
        };

        $scope.addStep = function(formData) {
            if (formData.length > 0)
            {
                $scope.list.push({ "name": formData.name, "priority": $scope.list.length + 1, "manual_id":1 });
            }
        };

        $scope.syncPositions = function () {
            var i = 1;
            $scope.list.forEach(function(obj)
            {
                obj.priority = i++;
            });
        };

        $scope.deleteStep = function(index) {
            $scope.list.splice(index, 1);
            $scope.syncPositions();
        };

        $scope.updateOrder = function (element) {
            $scope.syncOrder(element.sortable('toArray'));
        };
    }]);



    app.directive('sortable', function ($timeout) {
        return function ($scope, element, attributes) {
            element.sortable({
                stop : function(event, ui) {
                    $scope.$apply(function () {
                        $scope.updateOrder(element);
                        $scope.syncOrder(element.sortable('toArray'));
                    });
                }
            });
        };
    });
</script>

<div>
  <h2>Steps list</h2>
  <div ng-controller="ManualEditCtrl">
    <ul id="step-list" sortable>
      <li id="object-{{step.id}}" ng-repeat="step in list">
        <hr>
        <div class="portlet">
          <div  class="portlet-header" style="text-align: center;">
            Step {{step.priority}}: {{step.name}}
            <span class="glyphicon glyphicon-remove" ng-click="deleteStep($index)" style="float: right;"></span>
          </div>

        </div>
        <hr>
      </li>
    </ul>
    <form name="FormAdd" ng-submit="addStep(formData)">
      <input type="text" ng-model="formData.name" size="100%" placeholder="Add new step here">
    </form>
  </div>
</div>