<%- model_class = Manual -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= render :partial => 'form' %>

<style>
  body {
    min-width: 520px;
  }

  .column {
    width: 170px;
    float: left;
    padding-bottom: 100px;
  }

  .portlet {
    margin: 0 1em 1em 0;
    padding: 0.3em;
    width: 100%;
  }

  .portlet-header {
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
  }

  .portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
  }

  .portlet-content {
    padding: 0.4em;
  }

  .portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
  }

  .sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .sortable li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 1.4em;
    height: 50px;
    width: 99%;
  }

  .sortable li span {
    position: absolute;
    margin-left: -1.3em;
  }

</style>

<script>
    $( function() {
        $( ".column" ).sortable({
            connectWith: ".column",
            handle: ".portlet-header",
            cancel: ".portlet-toggle",
            placeholder: "portlet-placeholder ui-corner-all"
        });

        $( ".portlet" )
            .addClass( "ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" )
            .find( ".portlet-header" )
            .addClass( "ui-widget-header ui-corner-all" )
            .prepend( "<span class='ui-icon ui-icon-minusthick portlet-toggle'></span>");

        $( ".portlet-toggle" ).on( "click", function() {
            var icon = $( this );
            icon.toggleClass( "ui-icon-minusthick ui-icon-plusthick" );
            icon.closest( ".portlet" ).find( ".portlet-content" ).toggle();
        });
    } );
</script>

<script>
    $( function() {
        $(".sortable").sortable();
        $(".sortable").disableSelection();
    } );

    function create_page() {
        $.ajax({
            type: 'POST',
            url: "/manuals/1/pages",
            dataType: 'html',
            success: function (data)
            {
                alert(JSON.stringify(data));
                $("#page-list").append(data);
                $("#sortable").trigger("sortupdate");
            },
            error: function (data)
            {
                alert("Connection error.");
            }
        });
    }
</script>

<div id="page-list" class="column" style="width:100%;">
  <p><a onclick="create_page()">No pages found Create page</a></p>
    <% if @pages.any? %>
        <%= render @pages %>
    <% else %>

    <% end %>


  <!--<div class="portlet">-->
    <!--<div class="portlet-header">Page 1</div>-->
    <!--<div class="portlet-content">-->
      <!--<ul class="sortable">-->
        <!--<li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 1</li>-->
        <!--<li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 2</li>-->
        <!--<li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 3</li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="portlet">-->
    <!--<div class="portlet-header">Page 2</div>-->
    <!--<div class="portlet-content">-->
      <!--<ul class="sortable">-->
        <!--<li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 1</li>-->
        <!--<li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 2</li>-->
        <!--<li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 3</li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->

</div>

<script>


    angular.module('todoApp', ['ui.sortable'])
        .controller('TodoListController', function() {
            var todoList = this;
            todoList.todos = [
                {text:'learn AngularJS', done:true},
                {text:'build an AngularJS app', done:false}];

            todoList.addTodo = function() {
                todoList.todos.push({text:todoList.todoText, done:false});
                todoList.todoText = '';
            };

            todoList.remaining = function() {
                var count = 0;
                angular.forEach(todoList.todos, function(todo) {
                    count += todo.done ? 0 : 1;
                });
                return count;
            };

            todoList.archive = function() {
                var oldTodos = todoList.todos;
                todoList.todos = [];
                angular.forEach(oldTodos, function(todo) {
                    if (!todo.done) todoList.todos.push(todo);
                });
            };
        });


</script>

<div ng-app="todoApp">
  <h2>Todo</h2>
  <div ng-controller="TodoListController as todoList">
    <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
    [ <a href="" ng-click="todoList.archive()">archive</a> ]
    <ul ui-sortable class="unstyled">
      <li ng-repeat="todo in todoList.todos">
        <label class="checkbox">
          <input type="checkbox" ng-model="todo.done">
          <span class="done-{{todo.done}}">{{todo.text}}</span>
        </label>
      </li>
    </ul>
    <form ng-submit="todoList.addTodo()">
      <input type="text" ng-model="todoList.todoText"  size="30"
             placeholder="add new todo here">
      <input class="btn-primary" type="submit" value="add">
    </form>
  </div>
</div>