<%- model_class = Manual -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>

<div>
  <div ng-controller="ManualEditCtrl">


    <form name="form.state" auto-save-form="saveForm()">
      <div>Name:
        <input name="text" ng-model="form.data.text"/>
        <span ng-if="form.state.$dirty && form.state.$valid">Updating ...</span>
      </div>
    </form>
    <input type="hidden" ng-init="getManual(<%= @manual.id %>)">
    <h2 style="text-align: center;">Steps</h2>

    <ul class="draggable" id="step-list" sortable>
      <li id="object-{{step.id}}" ng-repeat="step in list | orderBy:'priority'">
        <hr>
        <div class="portlet">
          <div  class="portlet-header" style="text-align: center;">
            <a href="/steps/{{step.id}}/edit">Step {{step.priority}}: {{step.name}}</a>
            <span class="glyphicon glyphicon-remove removable" ng-click="deleteStep(step)" style="float: right;"></span>
          </div>
        </div>
        <hr>
      </li>
    </ul>
    <a ng-click="cl()">link</a>
    <form name="FormAdd" ng-submit="addStep(formData)">
      <input type="text" ng-model="formData.name" style="width:100%" placeholder="Add new step here">
      <input type="submit" class="btn btn-primary" style="width:100%" value="Add">
    </form>
  </div>
</div>