
<h1 class="page-header">
  All manuals
  <% if can? :create, Manual %>
    <small>
      <%= link_to t('.new', :default => t("helpers.links.new")), new_manual_path, :class => 'btn btn-primary pull-right' %>
    </small>
  <% end %>
</h1>


<div class="infinite-table">
  <table>
    <%= render :partial => 'manuals', :object => @manuals %>
  </table>
  <div class="text-center">
    <p class="pagination">
      <%= link_to_next_page(@manuals, 'More', :remote => true, :class => "btn btn-primary btn-block") %>
    </p>
  </div>
</div>