<div style="margin-bottom: 15px;" class="embed-responsive embed-responsive-16by9 col-xs-12 text-center">
  <iframe src="//www.youtube.com/embed/<%= src %>" frameborder="0" allowfullscreen></iframe>
</div>