<%- model_class = Step -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>

<style>
  img {
    max-height: 800px;
    max-width: 800px;
    height: auto;
    width: auto;
  }
</style>

<div>
  <div ng-controller="StepEditCtrl">
    Name:
    <input name="text" ng-change="updateName()" ng-model="step.name"/>

    <input type="hidden" ng-init="getStep(<%= @step.id %>)">
    <h2 style="text-align: center;">Blocks</h2>

    <ul class="draggable" id="block-list" sortable>
      <li id="object-{{block.id}}" ng-repeat="block in list | orderBy:'priority'">
        <hr>
        <div class="portlet">
          <div  class="portlet-header" style="text-align: center;">
            <span class="glyphicon glyphicon-remove removable" ng-click="deleteBlock(block)" style="float: right;"></span>
          </div>

          <div class="portlet-content" ng-switch="block.type">
            <div ng-switch-when="Image">
              <img src="{{block.content}}" />
            </div>
            <div ng-switch-when="Video">
              {{block.content}}
            </div>
            <div ng-switch-when="Markdown">
              <textarea style="border: none" cols="95" ng-change="updateBlock(block)" ng-model="block.content"></textarea>
            </div>
          </div>

        </div>
        <hr>
      </li>
    </ul>
    <a ng-click="cl()">aaaaa</a>
    <div class="text-center">
      <div class="btn-group">
        <button type="button" class="btn btn-primary" ng-click="addText()">Text</button>
        <button type="button" class="btn btn-primary" ng-click="addImage()">Image</button>
        <button type="button" class="btn btn-primary" ng-click="addVideo()">Video</button>
      </div>
    </div>

    <!--<form action>-->
      <!--<input type="file" fileread="uploadme.src">-->
      <!--<img ng-src="{{ uploadme.src }}">-->
    <!--</form>-->

    <!--<input type="file" ng-model="uploaded_image" accept="image/*" app-filereader />-->

    <!--<div class="image-container">-->
      <!--<img ng-src={{image}} />-->
      <!--<span class="file-name">{{imageFileName}}</span>-->
    <!--</div>-->
    <!--&lt;!&ndash;<input type="file" nv-file-select="" uploader="uploader">&ndash;&gt;-->
      <!--&lt;!&ndash; executes js upload function with uploaded images &ndash;&gt;-->
      <!--<button ng-click="upload()">Submit</button>-->
    <!--<div class="input-group">-->
      <!--<input id="image" class="hidden" type="file" img-upload ng-model="imageName" name="imageName">-->
      <!--<img ng-src="{{image}}" height="100" width="100" ng-show="image"/>-->
      <!--<label for="image" class="btn btn-success btn-xs pull-center" name="upload" Value="">Upload Photo</label>-->
    <!--</div>-->
  </div>
</div>