<%- model_class = Step -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>

<style>
  img {
    max-height: 800px;
    max-width: 785px;
    height: auto;
    width: auto;
  }

  .fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
  }
  .fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }
</style>


<div>
  <div ng-controller="StepEditCtrl">
    <div id="spinner" ng-show="loading" class="center-block" style="margin-left: 25%; position: fixed; z-index: 9999; background: white;"><img src="/loader.gif"></div>
    Name:
    <input name="text" ng-change="updateName()" ng-model="step.name"/>

    <input type="hidden" ng-init="getStep(<%= @step.id %>)">
    <h2 style="text-align: center;">Blocks</h2>

    <ul class="draggable" id="block-list" sortable>
      <li id="object-{{block.id}}" ng-repeat="block in list | orderBy:'priority'">
        <hr>
        <div class="portlet">
          <div  class="portlet-header" style="text-align: center;">
            <span class="glyphicon glyphicon-remove removable" ng-click="deleteBlock(block)" style="float: right;"></span>
          </div>
          <div class="portlet-content" ng-switch="block.type">
            <div ng-switch-when="Image">
              <img src="{{block.content}}" />
            </div>
            <div ng-switch-when="Video">
              <youtube-video video-id="block.content"></youtube-video>
            </div>
            <div ng-switch-when="Markdown">
              <textarea msd-elastic style="border: none" cols="95" rows="1" ng-change="updateBlock(block)" ng-model="block.content" placeholder="Write some text here"></textarea>
            </div>
          </div>
          <hr>
        </div>
      </li>
    </ul>
    <div class="text-center">
        <button type="button" class="btn btn-primary" ng-click="addText()">Text</button>
    <div class="fileUpload btn btn-primary">
      <span>Image</span>
      <input type='file' class="upload" ng-model-instant onchange="angular.element(this).scope().imageUpload(event)" multiple />
    </div>
        <button type="button" class="btn btn-primary" ng-click="addVideo()">Video</button>
    </div>
  </div>
</div>