<h1 class="page-header">
  <%= t('activerecord.controllers.search.title', query: @query) %>
</h1>

<div class="infinite-table">
  <table>
    <%= render @manuals %>
    <%= render :partial => 'manuals/not_found'  if @manuals.empty? %>
  </table>
  <div class="text-center">
    <p class="pagination">
      <%= link_to_next_page(@manuals, t('helpers.links.more'), :remote => true, :class => "btn btn-primary btn-block") %>
    </p>
  </div>
</div>
