<h1 class="page-header">
  Manuals from category <%= @category.name %>
  <small><%= link_to t('.new', :default => t("helpers.links.new")), new_manual_path, :class => 'btn btn-primary pull-right' %></small>
</h1>

<%= render @category.manuals if @category.manuals.length > 0 %>
<%= render 'layouts/not_found', details: "There are no manuals in this category now." if @category.manuals.length.zero? %>
