<% categories.each do |category| %>
    <%= link_to({ :controller => "categories", :action => "show", id: category.id }, :class => "list-group-item list-group-item-action") do
        simple_format "<h4>#{category.name} <span class='badge badge-default badge-pill pull-right'>#{category.manuals_count}</span></h4>"
      end
    %>
<% end %>